aiohappyeyeballs==2.7.1
aiohttp==3.14.3
aiosignal==1.4.0
attrs==26.1.0
beautifulsoup4==4.15.0
certifi==2026.7.22
charset-normalizer==3.4.9
click==8.4.2
cssselect==1.5.0
defusedxml==0.7.1
feedfinder2==0.0.4
feedparser==6.0.14
feedparser-sgmllib==2.1.0
filelock==3.32.2
frozenlist==1.8.0
idna==3.18
jieba3k==0.35.1
joblib==1.5.3
lxml==6.1.1
lxml_html_clean==0.4.5
multidict==6.7.1
newspaper3k==0.2.8
nltk==3.10.2
pillow==12.3.0
propcache==0.5.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
PyYAML==6.0.3
regex==2026.7.19
requests==2.34.2
requests-file==3.0.1
six==1.17.0
soupsieve==2.9.1
tinysegmenter==0.3
tldextract==5.3.1
tqdm==4.70.0
typing_extensions==4.16.0
urllib3==2.7.0
yarl==1.24.5
